<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="www.yanshisan.cn" />
    <meta name="robots" content="all" />
    <title>文章</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">

    </script>
    <script type="text/javascript">

        $.ajax({
            type: "GET",
            dataType : "json",
            url: 'v1/note/query-all',
            error: function (XMLHttpRequest, textStatus, errorThrown) { },
            success: function (msg){
                 for (var i in msg) {
                     alert(document.write(msg[i]))
                 }

            }
        })

    </script>

</head>
<body>
       <p>msg</p>


</body>
</html>
